<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMART DOOR</title>

    <link rel="shortcut icon" href="image/icon_small_logo.svg" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/base.css">
    <link rel="stylesheet" href="/style/navbar.css">
    <link rel="stylesheet" href="/style/index.css">
</head>

<body>
    <section class="section--conatiner">
        <nav class="nav bg-blue-2 d-flex flex-column justify-content-start align-items-center py-3" id="target--nav">
            <section class="nav--logo bg-blue-1 p-2 rounded-13">
                <img src="image/icon_big_logo.svg" alt="logo perusahaan">
            </section>

            <section class="nav--user d-flex justify-content-start align-items-center mt-5">
                <div
                    class="nav--user-profile d-flex justify-content-center align-items-center bg-blue-3 rounded-circle">
                    <p class="text-neutral-6">RN</p>
                </div>
                <div class="nav--user-data ms-1">
                    <p class="fw-bold">Risma Nuraini</p>
                    <p class="fw-ligh">Admin</p>
                </div>
            </section>

            <section class="nav--link mt-5 d-flex flex-column align-items-center">
                <a href="/"
                    class="nav--link-item bg-neutral-4 py-2 text-blue-3 d-flex justify-content-start align-items-center">
                    <img src="image/icon_dashboard.svg" class="nav--link-icon-sm" alt="Logo Dashboard">
                    <p class="fw-normal">Dashboard</p>
                </a>

                <a href="cardList.html"
                    class="nav--link-item mt-2 ps-5 py-2 text-blue-3 d-flex justify-content-start align-items-center">
                    <img src="image/icon_card.svg" class="nav--link-icon ms" alt="Logo Dashboard">
                    <p class="fw-normal ms-2"> Card </p>
                </a>

                <a href=""
                    class="nav--link-item mt-2 ps-5 py-2 text-blue-3 d-flex justify-content-start align-items-center">
                    <img src="image/icon_user.svg" class="nav--link-icon" alt="Logo Dashboard">
                    <p class="fw-normal ms-2">User</p>
                </a>

                <a href=""
                    class="nav--link-item mt-2 ps-5 py-2 text-blue-3 d-flex justify-content-start align-items-center">
                    <img src="image/icon_group.svg" class="nav--link-icon" alt="Logo Dashboard">
                    <p class="fw-normal ms-2">Group</p>
                </a>

                <a href=""
                    class="nav--link-item mt-2 ps-5 py-2 text-blue-3 d-flex justify-content-start align-items-center">
                    <img src="image/icon_log.svg" class="nav--link-icon" alt="Logo Dashboard">
                    <p class="fw-normal ms-2">Log</p>
                </a>
            </section>
        </nav>
        <main class="main">