<div class="res404 d-flex flex-column justify-content-center align-items-center">
    <img src="/image/illustration-404.png" alt="404 Image" class="d-block illustration">
    <h4 class="fw-bold text-center mt-3 text-neutral-2">
        WE ARE SORRY, THE PAGE YOU WERE LOOKING FOR DOESN'T EXIST
    </h4>
    <h5 class="fw-bold text-center mt-1 text-neutral-3 mx-4 mx-sm-0">
        YOU MAY HAVE MISTYPED THE ADDRESS OR THE PAGE MAY HAVE MOVED
    </h5>
    <p class="text-center fw-bold mt-1 text-neutral-3">Go back <a href="/">home</a> for more service, or contact our
        <a href="https://wa.me/{{admin}}">administrator</a>
    </p>
</div>
