<div class="auth--form d-md-block d-none col-md-5 col-lg-6 bg-blue-2"></div>
<div class="auth--form d-flex justify-content-center align-items-center col-md-7 col-lg-6 bg-neutral-6">
    <form method="post"
        class="form--container d-flex flex-column justify-content-between bg-neutral-7 px-5 py-3 rounded-13 shadow-c-1">
        <div class="d-flex justify-content-center mb-4">
            <p class="register active fw-bolder fs-5 text-neutral-2">Please Verify Your Email</p>
        </div>

        <div>
            <p>
                Thank you for registering on our smart door lock platform! Before you can start enjoying all the benefits of our service, we need to verify your email address.
            </p>
            <br>
            <p>
                To complete the verification process, please follow verification link that we send to your email
            </p>
        </div>

        <div class="mb-4 d-flex justify-content-center mb-4">
            <button id="verify-btn" class="btn bg-blue-3 text-neutral-7 fw-bold px-5 rounded-13 py-2 d-block">
                Send Verifcation Again
            </button>
        </div>
    </form>
</div>
