<h3 class="fw-bolder text-neutral-2 mt-3">User List</h3>
<p id="admin-role" class="d-none" data-role="{{adminRole}}"></p>
<form class="serach--form row mt-5">
    <div class="search--form-username col-md-8">
        <div class="input-group mb-3 shadow-c-1 rounded-13">
            <input type="text" class="form-control rounded-13" placeholder="Username" name="username"
                id="username">
            <div class="input-group-prepend p-2 rounded-13">
                <img src="/image/icon_search.svg" alt="Icon search user" class="form-icons" id="search">
            </div>
        </div>
    </div>

    <div class="search--form-role col-md-4">
        <div class="input-group mb-3 shadow-c-1 rounded-13">
            <input type="text" class="form-control rounded-13" autocomplete="off" placeholder="User Type"
                name="userRole" id="userRole">
            <div class="input-group-prepend p-2 rounded-13">
                <img src="/image/icon_drop_down.svg" alt="Icon search user" class="form-icons"
                    id="show-role">
            </div>
        </div>

        <div class="form-dropdown bg-neutral-7 p-2 rounded-13 shadow-c-1">
            <p class="role py-2 px-2" data-role="USER">USER</p>
            <p class="role py-2 px-2" data-role="ADMIN">ADMIN</p>
        </div>
    </div>
</form>

<div class="user--list-container mt-3">
    
</div>
<p class="text-center mt-4 pointer py-2 rounded-13 bg-neutral-6 mb-5" id="showMore">Show More</p>